<html>
<head>
<title>This is  "Hello, World" Application</title>
</head>
<body bgcolor=white>
<table border="0">
<tr>
<td>
<h1>HELLO WORLD APPLICATION </h1>
<p>DATA: {{ ansible_date_time.date }} : {{ ansible_date_time.time }} HOST : {{ansible_hostname}}
</td>
</tr>
</table>
</body>
</html>
